services:

  db:
    image: postgres:16-alpine
    env_file:
      - "./backend/.env"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build: 
      context: "./backend"
    image: "exivium/backend:1.0"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - "./backend/.env"
    volumes:
      - "./backend/recursos/plugins:/exivium/recursos/plugins"
      - "./backend/recursos/cameras:/exivium/recursos/cameras"
      - "./backend/exivium.log:/exivium/exivium.log"

  nginx:
    image: nginx:1.28.0-bookworm
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/default_proxy.conf:/etc/nginx/default_proxy.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl/:ro
      - ./frontend:/var/www/frontend:ro

volumes:
  db_data: