* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Fundo principal*/
body {
  height: 633px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
}


.container-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*Formulário*/
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 40px 25px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.formulario:hover {
  background: rgba(83, 126, 161, 0.171);
  transform: scale(1.01);
  box-shadow: 0 0 30px rgba(90, 100, 112, 0.2);
}

/*Logo*/
.formulario img {
  margin-bottom: 20px;
}


.formulario label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

/*Campos*/
.formulario input[type="text"],
.formulario input[type="password"] {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 1rem;
  padding-left: 10px;
  outline: none;
  transition: background 0.3s ease;
}

.formulario input[type="text"]:focus,
.formulario input[type="password"]:focus {
  background: rgba(131, 83, 83, 0.25);
}

/*Botão ACESSAR*/
.formulario input[type="submit"] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.formulario input[type="submit"]:hover {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 114, 255, 0.3);
}

/*Responsividade*/
@media (max-width: 400px) {
  .formulario {
    width: 85%;
    padding: 30px 20px;
  }
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 120px;
  height: auto;
}