.container-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*Formulário*/
.formulario {
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 40px 25px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.formulario:hover {
  background: rgba(83, 126, 161, 0.171);
  transform: scale(1.01);
  box-shadow: 0 0 30px rgba(90, 100, 112, 0.2);
}

/*Logo*/
.formulario img {
  margin-bottom: 20px;
}

.formulario label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

/*Campos*/
.input {
  width: 100%;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}

.input:focus {
  background: rgba(131, 83, 83, 0.25);
}

/*Botão ACESSAR*/
.formulario button[type="submit"] {
  width: 100%;
  height: 40px;
}

/*Responsividade*/
@media (max-width: 400px) {
  .formulario {
    width: 85%;
    padding: 30px 20px;
  }
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 120px;
  height: auto;
}